body {
	margin-left: 30%;
	margin-top: 2%;
}

h1 {
	font-family: 'Lily Script One', cursive;
	font-size: 50px
}

h3 {
	font-family: 'Lily Script One', cursive;
	font-size: 32px;
	margin-left: 10%;
}

div {
	font-family: font-family: 'Milonga', cursive;
	font-size: 15px;
}